
.header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 50px;
    word-spacing: 50px;
}
.header a {
    text-decoration: none;
    color: red;
}
.header .link{
    display: inline-block;
}

.content-title {
    text-transform: uppercase;
    text-align: center;
}

.text {
    font-style: italic;
    text-align: center;
    margin: 70px;
}

.button {
    background-color: #ff0000;
    color: #ffffff;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    height: 50px;
    width: 200px;
    text-transform: uppercase;
    border-radius: 5px;
 }
.footer {
    text-align: right;
    margin: 90px;
}
